In [2]:
import numpy as np
import pathlib
import pandas as pd

def get_mat(list_of_dics):
    max_x, max_y = 0, 0
    list_of_ends = []
    for dic in list_of_dics:
        list_of_ends.append(dic.reshape((1,))[0].pop((-1, 0), 0))
        max_x = np.max([max_x, np.max(np.array(list(dic.reshape((1,))[0].keys()))[:, 0], axis=0)])
        max_y = np.max([max_y, np.max(np.array(list(dic.reshape((1,))[0].keys()))[:, 1], axis=0)])
    mats = [np.zeros((max_x+1, max_y+1)) for _ in list_of_dics]
    charges = [0 for _ in list_of_dics]
    for i, (dic, end) in enumerate(zip(list_of_dics, list_of_ends)):
        for key, val in dic.reshape((1,))[0].items():
            mats[i][key] = val
        charges[i] = np.sum(np.real(end))
    return np.array(mats), np.array(charges)

all_arrs = {str(x.stem):get_mat(np.load(str(x), allow_pickle=True)) for x in pathlib.Path('../').glob('**/*get_measurement_record*.npy') if not str(x.stem).startswith('file')}
arrs = np.array([x[1][0] for x in sorted([(float(x.split(',')[0]), y) for x, y in all_arrs.items()])])
charges = np.array([x[1][1] for x in sorted([(float(x.split(',')[0]), y) for x, y in all_arrs.items()])])
ps = np.array([x[0] for x in sorted([(float(x.split(',')[0]), y) for x, y in all_arrs.items()])])

In [5]:
pd.DataFrame(charges)

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,-8,12,14,-2,-2,16,24,0,4,-8,...,-4,2,-4,-18,-8,-4,-18,6,-2,-12
1,6,0,4,-8,4,-2,-8,-4,-12,2,...,4,10,2,4,-6,-6,-6,6,6,0
2,4,14,-2,-8,2,0,-8,12,2,-2,...,-10,-6,4,0,-8,-6,10,-12,0,8